<input 
    value="Nome: " 
    [type]="textInput" 
    [disabled]="isDesabled"
    (keyup)="handleInputKeyUp($event)"
    (input)="handleInput($event)"
/>
<br>
<input 
    type="button" 
    (click)="enableInput()" 
    value="Habilitar"  
>


<input 
    type="button" 
    (click)="disabledInput()" 
    value="Desabilitar"
>

<br>
<input 
    type="button" 
    (click)="inputText()"
    value="Mostrar Caracteres"
>
<input 
    type="button" 
    (click)="inputPassword()" 
    value="Ocultar Caracteres"
    >
<br>
<input 
    type="button" 
    (click)="toggleInput()" 
    value="Mudar Visibilidade"
>
<br>
<button [attr.title]="textHabilitar">Habilitar</button>
<br>
<button 
    [attr.title]="textDesabilitar"
    [attr.disabled]="buttonDisable? true: null"
    >
    Desabilitar
</button>
<button (click)="onButtonClick()">Clique para Desabilitar</button>
<br>
<br>
<br>
<br>
<!-- <button [class.red-button]="true">Vermelho</button> -->
<br>
<button [class.red-button]="isRedButton" (click)="getButtonGreen()">Vermelho</button>
<br>
<br>
<br>
<button [class.green-button]="true" (click)="getButtonRed()">Green</button>
<br>
<br>
<br>
<button 
    [class]="{
        'red-button': !isGreenButton,
        'green-button': isGreenButton
    }"
    >
    Objeto
</button>

