<div class="container-detalhes">
    <mat-list>
        <mat-list-item class="mat-h2"><h2>Detalhes do Usuário</h2></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span>
            <span class="mat-h2">Franklin Menezes</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span>
            <span class="mat-h2">fmpereira2309&#64;gmail.com</span>
            
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class="mat-h2">Telefone: </span>
            <span class="mat-h2">(73) 98865-2927</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Status: </span>
            <span class="mat-h2">Ativo</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span>
            <span class="mat-h2">Desenvolvedor</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data Cadastro: </span>
            <span class="mat-h2">01/10/2022</span>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

</div>
  
