<div class="list">
  <div 
  class="item" 
  *ngFor="
    let person of listPeople; 
    let i = index; let isOdd = odd; 
    let isEven = even; 
    let isFirst = first; 
    let isLast = last"
  [class.item--odd]="isOdd"
  [class.item--highlighted]="personSelectedIndex === i"
  (click)="selectPerson(i)"
  >
    <p class="item__name">{{i}} - {{person.name}}</p>
    <p class="item__age">{{person.age}} anos</p>
    <p *ngIf="isFirst" >É o primeiro</p>
    <p *ngIf="isLast">É o último</p>
    <p *ngIf="isEven">É par</p>
    <p *ngIf="isOdd">É ímpar</p>

  </div>
  
