<!-- <h1>{{text | uppercase}}</h1>
<h1>{{obj | json}}</h1> -->

<!-- <h1
  [class]="{
    'active':obj1.status === 1,
    'partial':obj1.status === 2,
    'bloked':obj1.status === 3
  }"
>{{obj1.nome}}</h1>
<h1
  [class]="{
    'active':obj2.status === 1,
    'partial':obj2.status === 2,
    'bloked':obj2.status === 3
  }"
  
>{{obj2.nome}}</h1>
<h1
  [class]="{
    'active':obj3.status === 1,
    'partial':obj3.status === 2,
    'bloked':obj3.status === 3
  }"
>{{obj3.nome}}</h1> -->

<!-- <h1 [class]="getStyle(obj1.status)">{{obj1.nome}}</h1>
<h1 [class]="getStyle(obj2.status)">{{obj2.nome}}</h1>
<h1 [class]="getStyle(obj3.status)">{{obj3.nome}}</h1> -->

<h1 [class]="obj1.status | statusClass">{{obj1.nome}}</h1>
<h1 [class]="obj2.status | statusClass">{{obj2.nome}}</h1>
<h1 [class]="obj3.status | statusClass">{{obj3.nome}}</h1>

